.smallCalendar--day {
  cursor: pointer;
  user-select: none;
}

.smallCalendar--day-zone.selected {
  background-color: #79b8ff;
}

.smallCalendar--day.week {
  background-color: #c8e1ff; /* change color, and also add it to DaysPrev and DaysNext */
}

.smallCalendar--day-zone {
  padding: 2px 0;
  border-radius: 50%;
}

.smallCalendar--day-zone:hover {
  background-color: #dbedff;
}

.smallCalendar--day-zone.currentMonth:hover {
  background-color: #dbedff;
}

.smallCalendar--day.currentMonth {
  background-color: transparent;
}

.smallCalendar--day-zone.today {
  background-color: #2188ff;
}
